params {
  sample_id = 'SNVMINI'
  profile_name = 'default'
  outdir = 'results/SNVMINI_snv_wes_e2e'
  upstream_stub = true
  somatic_vcf = "${projectDir}/../data/fixtures_snv/mini_somatic.vcf"
  tumor_sample_name = 'SNVMINI_TUMOR'
  normal_sample_name = 'SNVMINI_NORMAL'
  hla_alleles = ['HLA-A*02:01', 'HLA-B*07:02']
  expression_tsv = "${projectDir}/../data/fixtures/gene_expression.tsv"
  cnv_tsv = "${projectDir}/../data/fixtures/cnv_segments.tsv"
  normal_expression = "${projectDir}/../resources/normal_expression.example.tsv"
  normal_hla_ligands = "${projectDir}/../resources/normal_hla_ligands.example.tsv"
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
}
