params {
  sample_id = 'SVMINI'
  profile_name = 'sv_wes_phase1_5'
  outdir = 'results/SVMINI_sv_wes_e2e'
  binding_stub = true
  wes_mode = true
  merge_distance_bp = 200
  hla = "${projectDir}/../data/fixtures_sv/hla.txt"
  sv_callers = ['GRIDSS2']
  reference_fasta = "${projectDir}/../data/fixtures_sv/mini_ref.fa"
  gencode_gtf = "${projectDir}/../data/fixtures_sv/mini.gtf"
  sv_vcf = "${projectDir}/../data/fixtures_sv/mini_sv.vcf"
  expression_tsv = "${projectDir}/../data/fixtures_sv/expression.tsv"
  rna_junction_tsv = "${projectDir}/../data/fixtures_sv/rna_junctions.tsv"
  normal_expression = "${projectDir}/../data/fixtures_sv/normal_expression.tsv"
  normal_hla_ligands = "${projectDir}/../data/fixtures_sv/normal_hla_ligands.tsv"
  vep_appm = "${projectDir}/../assets/empty_vep.tsv"
  hla_loh = "${projectDir}/../assets/empty_hla_loh.tsv"
  purity = "${projectDir}/../assets/empty_purity.tsv"
  cnv = "${projectDir}/../assets/empty_cnv.tsv"
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
}
