// Nextflow params for upstream tool integration (use with workflows/main_full.nf)

params {
  mode = 'parse_only'  // parse_only | full

  run_upstream = false
  upstream_stub = false
  run_config = "${projectDir}/conf/run.stub.toml"

  tool_netmhcpan = 'netMHCpan'
  tool_mhcflurry = 'mhcflurry-predict'
  tool_pvacseq = 'pvacseq'
  tool_pvacfuse = 'pvacfuse'
  tool_vep = 'vep'
}
